:root {
    --element-spacing: 1.5rem;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--element-spacing);
    width: 100%;
}

.left > * {
    margin-right: var(--element-spacing);
    font-weight: bold;
    color: black;
}

.right {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: black;
}
.right > * {
    margin-left: var(--element-spacing);
}
.ml-auto{
text-align: right;
}