.browseContent {
    padding: 0.35rem;
    display: flex;
    justify-content: center;
    border-left: 1px solid rgb(230, 230, 230);
    border-right: 1px solid rgb(230, 230, 230);
  }
  
  .browseContent > * {
    margin-right: 4px;
  }
  
  .right-border {
    border-right: 1px solid rgb(230, 230, 230);
  }
  
  :global(.button).browseContect-button {
    border-radius: 0;
    border-bottom: 0;
    border-top: 0;
  }
  
  :global(.button).omit-right-border {
    border-right: none;
  }
  